
@charset "UTF-8";

html {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    justify-content: column;
}

figure {
    background-image: url(../imagens/tela-github.jpg);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: scroll;
    height: 734px;
    width: 100%;
    margin: 0;
}

div#botão-acessar {
    background-color: #7D0102;
    height: 80px;
    width: 199px;
}

div#botão-acessar:hover {
    transition-duration: 2s;
    background-color: #E80106;
}

p#text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: white;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

a {
    text-decoration: none;
}


